/* ------------------ GLOBAL VARIABLES ------------------ */
:root { 
  --bars-color: #23202b;
  --bars-pad: 2rem 2rem;
  --section-pad: 2rem 2rem; /* Is this really necessary? I guess it makes it easier to find and adjust? */
}

/* ------------------ IMPORTS --------------------------- */
@font-face {
  font-family: NewRock;
  src: url(/assets/fonts/NewRocker-Regular.ttf);
}

@font-face {
  font-family: Underdog;
  src: url(/assets/fonts/Underdog-Regular.ttf);
}

@font-face {
  font-family: WixMade;
  src: url(/assets/fonts/WixMadeforText-VariableFont_wght.ttf);
}

/* ------------------ GLOBAL STYLING -------------------- */

/* ----- Get rid of ALL padding and margins ----- */
* {
  margin: 0;
  padding: 0;
}
/* ----- Begone useless spaces I did not ask for ----- */

body {
  font-family: "WixMade";

  background-color: #241d2e;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%239C92AC' fill-opacity='0.14' fill-rule='evenodd'/%3E%3C/svg%3E");
}

a {
  color: #e99638;
  display: inline-block;
  transition: transform .2s ease;
  text-decoration: none;
}

a:hover {
  color: white;
  font-weight: bold;

  text-shadow: 
  2px 2px 3px rgba(153,55,235,0.6), 
  2px -2px 3px rgba(153,55,235,0.6), 
  -2px 2px 3px rgba(153,55,235,0.6), 
  -2px -2px 3px rgba(153,55,235,0.6);

  transform: scale(1.01);
}

a:visited {
  color: #e99638;
}

a:hover {
  color: white;
  font-size: 1.03rem;
}

a:active {
  text-shadow: 
  2px 2px 3px #aa42ff, 
  2px -2px 3px #aa42ff, 
  -2px 2px 3px #aa42ff, 
  -2px -2px 3px #aa42ff;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.hide {
  display: none;
}

section {
  min-height: 100vh;
  padding: var(--section-pad);
}

p {
  color: #f7f3fb;
}

h1 {
  font-family: "NewRock";
  font-size: 5rem;
  color: #1C1A23;

  -webkit-text-stroke: .05px #675676;
  text-shadow:
  0px 1px 0px #F79F3B,
  0px 2px 0px #F69628,
  0px 3px 0px #D77709,
  0px 4px 0px #B06107,
  0px 5px 0px #9D5707,
  0px 7px 4px #000000,
  0px 6px 8px #9937EB;
}

h2 {
  font-family: "Underdog";
  color: #f7f3fb;
  font-size: 1.8rem;
  text-shadow: 0px 2px 4px #9937EB;
}

h3 {
  font-family: "Underdog";
  color: #f7f3fb;
  font-size: 1.5rem;
  text-shadow: 0px 2px 4px #9937EB;
}

/* ------------------ HEADER --------------------------- */
.header {
  justify-content: space-between;
  padding: var(--bars-pad);
  height: auto;

  background-color: var(--bars-color);
  background-image: url("/assets/spookybg.png");

  box-shadow: 0 5px 15px 5px #000000;
}

.pokegif {
  height: 100px;
}

/* ------------------ MAIN --------------------------- */
.main {
  flex-direction: column;
  gap: 6rem;
  padding: 4rem 0 4rem 0;
}

/* ------------------ CARDS --------------------------- */
.gridContainer {
  grid-template-columns: auto auto auto;
  gap: 2rem;
}

.pokeCard {
  grid-template-areas:
  "gridImg gridImg"
  "gridName gridName"
  "gridType gridType"
  "gridDex gridDex";
  grid-template-rows: 6rem 4rem 2.5rem auto;
  width: 19rem;
  height: 25rem;
  justify-items: center;
  align-items: center;

  animation-name: slideDown;
  animation-duration: .6s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

  border-radius: 2rem;
  border-style: solid;
  border-width: 1px;
  border-color: #675676;
  border-bottom-width: 0;

  background: #1C1A23;
  background: -moz-radial-gradient(center, #1C1A23 0%, #2B2836 100%);
  background: -webkit-radial-gradient(center, #1C1A23 0%, #2B2836 100%);
  background: radial-gradient(ellipse at center, #1C1A23 0%, #2B2836 100%);

  box-shadow:
  0px 1px 0px #ec9838,
  0px 2px 0px #df8824,
  0px 3px 0px #c06a08,
  0px 4px 0px #995406,
  0px 5px 0px #834906,
  0px 10px 15px #000000,
  0px 17px 20px rgb(154, 56, 235, .25);
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Grid Sections */
.gridImg {
  grid-area: gridImg;
  align-self: end;
}

.gridName {
  grid-area: gridName;
}

.gridType {
  grid-area: gridType;
}
.typesDiv {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  background-color: #373346;
}

.typesDiv img {
  height: 25px;
}

.gridDex {
  grid-area: gridDex;
  padding: 1rem 2rem 0 2rem;
  align-self: start;
}

.showMoreButton {
  background: none;
  border: none;
  font-family: "NewRock";
  font-size: 3rem;
  color: #e6dcee;

  -webkit-text-stroke: .05px #675676;
  text-shadow:
  0px 1px 0px #F79F3B,
  0px 2px 0px #F69628,
  0px 3px 0px #D77709,
  0px 4px 0px #B06107,
  0px 5px 0px #9D5707,
  0px 7px 4px #000000,
  0px 6px 8px #9937EB;
}

.showMoreButton:hover {
  transform: scale(1.1);
  text-shadow:
  0px 1px 0px #F79F3B,
  0px 2px 0px #F69628,
  0px 3px 0px #D77709,
  0px 4px 0px #B06107,
  0px 5px 0px #9D5707,
  0px 7px 4px #000000,
  0px 6px 50px #9937EB;
}

/* ------------------ FOOTER --------------------------- */
.footer {
  background-color: var(--bars-color);
  padding: var(--bars-pad);
  
  flex-direction: column;
  gap: .5rem;

  color: #f7f3fb;

  box-shadow: 0 -5px 15px 5px #000000;
}

.credits {
  flex-direction: column;
  list-style-type: none;
}

.credits li {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nintendo {
  font-size: .8rem;
}

/* ------------------ MEDIA QUERIES --------------------------- */

/* Mobile - 1 Column */
@media (max-width: 500px ) {
  body {
    /* background-color: red; */
    
  }

  .titleBox img {
    display: none;
  }

  .titleText {
    font-size: 3rem;
  }

  .gridContainer {
    grid-template-columns: auto;
    gap: 2rem;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .credits li {
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  .litwick {
    display: none;
  }

  .haunter {
    display: none;
  }
}

/* Tablet - 2 Columns */
@media (min-width: 501px ) and (max-width: 1023px) {
  body {
    /* background-color: green; */
    
  }
  .gridContainer {
    grid-template-columns: auto auto;
    gap: 2rem;
  }
}