/* ------------------ GLOBAL VARIABLES ------------------ */
:root { 
  --bars-color: #6ec2a9;
  --bars-pad: 1em 2em;

  --section-pad: 2rem 2rem; /* Is this really necessary? I guess it makes it easier to find and adjust? */
}

/* ------------------ IMPORTS --------------------------- */

/* @font-face {
  font-family: Audiowave;
  src: url(/assets/fonts/Audiowide-Regular.ttf)
}

@font-face {
  font-family: Afacad;
  src: url(/assets/fonts/Afacad-VariableFont_wght.ttf);
  src: url(/assets/fonts/Afacad-VariableFont_wght.ttf)
} */

/* ------------------ GLOBAL STYLING -------------------- */

/* ----- Get rid of ALL padding and margins ----- */
* {
  margin: 0;
  padding: 0;
}
/* ----- Begone useless spaces I did not ask for ----- */

body {

}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

section {
  min-height: 100vh;
  padding: var(--section-pad);
}

p {

}

h1, h2, h3, h4, h5, h6 {

}

/* ------------------ HEADER --------------------------- */
.header {
  justify-content: space-between;
  padding: var(--bars-pad);

  background-color: var(--bars-color);
}

.headerNav {

}

.navList {
  gap: 8px;
  list-style-type: none;
  padding-left: 0;
}

.hamburgerIcon {
  display: none;
}

/* ------------------ MAIN --------------------------- */
.main {

  flex-direction: column;

  gap: 30px;
}

/* ------------------ CARDS --------------------------- */
.gridContainer {
  grid-template-columns: auto auto auto; /* Change this to one column for mobile */
  gap: 2rem;
}
.pokeCard {
  grid-template-areas:
  "gridName gridName"
  "gridType gridRegion"
  "gridDex gridDex";
  width: 15rem;
  height: 20rem;
  padding: 2rem;

  border-radius: 2rem;

  background-color: blueviolet;
}


/* Is Grid the most efficient way to divide up the information on cards, or would flex be better? */
/* If using Flex, items like TYPE and REGION that belong on the same row should be wrapped in a div, which means a new div needs to be made in the Javascript */
.gridName {
  grid-area: gridName;
  height: 2rem;
}

.gridType {
  grid-area: gridType;
}

.gridRegion {
  grid-area: gridRegion;
}

.gridDex {
  grid-area: gridDex;
}

/* 
<h2 class="gridName">Name</h2>
          <h3 class="gridType">Type</h3>
          <h3 class="gridRegion">Region</h4>
          <p class="gridDex">
          */





/* ------------------ FOOTER --------------------------- */

.footer {
  background-color: var(--bars-color);
  padding: var(--bars-pad);
}
/* MEDIA for tablets and under*/
@media (max-width: 769px) {
  .hamburgerIcon {
    display: flex;
  }

  .navList {
    display: none;
  }
}
